.post {
    &--header {
        margin-bottom: 20px;
        &-title {
            font-family: $kanit;
            font-size: 2rem;
        }
        &-meta {
            font-family: $kanit;
            font-size: 1rem;
            &-author {
                font-weight: 600;
            }
            &-category {
                font-weight: 600;
                font-style: italic;
            }
        }
    }
    &--thumbnail {
        margin-bottom: 20px;
        img {
            display: block;
            width: 100%;
            height: 32rem
        }
    }
    &--text {
        p {
            font-family: $kanit;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            line-height: 20px;
            letter-spacing: 0.3px;
            color: $color-dark-2;
        }
    }
    &--footer {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $color-muted-2;
        border-bottom: 1px solid $color-muted-2;
        padding: 10px 0;
        &-info {
            display: flex;
            align-items: center;
            span {
                font-family: $inria;
                font-size: 1.5rem;
                font-weight: 600;
            }
            svg {
                width: 3rem;
                height: 3rem;
            }
        }
    }
    &--comment {
        margin: 20px 0;
        &-list {
            margin-bottom: 20px;
            &-item {
                padding: 5px 10px;
                background: $color-muted-2;
                display: table;
                border-radius: 2px;
                &--header {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    h5 {
                        font-family: $inria;
                        font-size: 1rem;
                        margin-right: 5px;
                    }
                    i {
                        font-family: $kanit;
                        color: $color-dark-2;
                    }
                }
                p {
                    font-size: $kanit;
                    color: $color-dark-1;
                    font-size: 1.2rem;
                }
            }
        }
        &-input-group {
            .input-group {
                margin-bottom: 10px;
                label {
                    display: block;
                    font-family: $inria;
                    font-size: 1rem;
                    text-transform: uppercase;
                    margin-bottom: 3px;
                }
                .input-control {
                    display: block;
                    width: 100%;
                    outline: none;
                    border: 1px solid $color-muted-1;
                    padding: 5px;
                    border-radius: 3px;
                    font-family: $kanit;
                    color: $color-dark-2;
                }
            }
            .btn-dark {
                background: $color-dark-2;
                color: $color-light;
                border: none;
                outline: none;
                padding: 10px 20px;
                border-radius: 3px;
                transition: background .3s ease;
                cursor: pointer;
                font-family: $inria;
                text-transform: uppercase;
                &:hover {
                    background: $color-dark-1;
                }
            }
        }
    }
}